body{
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    height: 400px;
}

main div{
    border: 0.1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 133px; 
    font-size: 3rem;
}

.btn{
    margin: auto;
    font-size: large;
    background-color: transparent;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover, main div:hover{
    background-color: #f7f2f2;
    color: #110101;
    cursor: pointer;
}

.heading{
    font-size: 4rem;
    padding-top: 30px;
}

.turn, .congo{
    font-size: 2rem;
    text-align: center;
}